body {
  font-family: "Roboto Slab", serif;
}

@media (max-width: 544px) {
  .jobContainer h2 {
    font-size: 2rem;
  }
  .jobsLogos {
    width: 5rem;
  }
}

@media (min-width: 544px) {
  .jobContainer h2 {
    font-size: 3rem;
  }
  .jobsLogos {
    width: 7rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jobContainer h2 {
    font-size: 3rem;
  }
  .jobsLogos {
    width: 7rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jobContainer h2 {
    font-size: 1.5rem;
  }

  .jobsLogos {
    width: 3.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) {
  .jobContainer h2 {
    font-size: 2rem;
  }
  .jobsLogos {
    width: 3.5rem;
  }
}

.jobContainer {
  height: 100%;
  margin-top: 3rem;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5a859bb6,
    #2f4655ab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5a859bb6,
    #2f4655ab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.384);
  color: rgb(19, 18, 51);
  animation: zoomIn 500ms;
}

.jobContainer hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.jobContainer:hover {
  margin-top: 3rem;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5a859b,
    #2f4655
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5a859b,
    #2f4655
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.582);
  color: rgb(223, 222, 222);
  transition: ease-in;
}

.jobContainer p {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

.banner {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 6rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.164);
}

.foto {
  height: 15rem;
  border-radius: 100%;
  padding: 1rem;
  display: flexbox;
  align-content: center;
  justify-self: center;
}

.fotoContainer {
  display: flexbox;
  justify-self: center;
  align-content: center;
  text-align: center;
}

.jobs {
  margin-top: 1rem;
  justify-content: space-between;

  transition: 0.25s ease-in-out;
  animation: bounceIn 800ms;
}

.jobsLogos {
  margin-top: 1rem;
  border-radius: 0.5rem;
  transition: 0.25s ease-in-out;
}

.jobsLogos:hover {
  border-radius: 0.5rem;
  transform: translate(0, 2);
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 0.8rem rgba(211, 185, 208, 0.89);

  z-index: 10;
}

.jobsLogos:active {
  border-radius: 0.5rem;
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 2rem rgba(211, 185, 208, 0.89);

  z-index: 10;
}
